<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 {% for mensaje in get_flashed_messages() %}
    {{ mensaje }}
  {% endfor %}
<h3>Clientes (<a href="{{ url_for('nuevo') }}">Agregar Cliente</a>)</h3>


<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
      <tr>

        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.email }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
